.pagetitle{
   
    font-size: 20px;
       text-transform: uppercase;
       color: #ffffff;
       text-align: center;
       background-color:rgb(9,23,49);
       height: 150px;
       padding: 70px;
   }
   .Content>img{
       width: 200px;
       height: auto;
       float: left;
   }
   
   
   .Content{
       font-size: 1.4em;
   }
   
   .Content>h2{
       text-align: center;
   }